.add-to-cart-container{
    min-height: 85vh;
    display: flex;
    justify-content: center;
}
.cart-item{
    width:40rem;
    margin: 1rem 0;
    padding: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
}
.product-div{
    display: flex;
    align-items: center;
}
.product-div>.product-info{
    padding: 0 2rem;
}
.cart-item img{
    width: 5rem;
}
.quanity-div>*{
    display: block;
    text-align: center;
}
.quanity-div button{
    border: none;
    cursor: pointer;
    background-color: white;
}
.product-info>*{
    margin-bottom: 0.6rem;
}
.product-info h3{
    color: green;
}
.product-info button{
    background-color: red;
    color: white;
    border: none;
    padding: 0.4rem 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 0.3rem;
    border: 0.1rem solid white;
}
.product-info button:hover{
    transition: .2s ease-in;
    background-color: white;
    color: red;
    border:0.1rem solid red;
}
.order-price-div{
    text-align: center;
    margin: 2rem 0;
}
.order-price-div h3{
    padding: 0.5rem 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
}
.order-price-div button{
    margin-top: 2rem;
    background-color: orangered;
    color: white;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0.1rem solid white;
}
.order-price-div button:hover{
    transition: .2s ease;
    border: 0.1rem solid orangered;
    background-color: white;
    color: orangered;
}
.button-toggle{
    padding: 0.25rem;
    border: 0.1rem solid white;
}
.button-toggle span{
    cursor: pointer;
    color: white;
}
.button-toggle span .fa-trash{
    background-color: red;
    padding: 0.1rem 1rem;
    border-radius: 0.3rem;
    margin-right: 0.2rem;
    border: 0.1rem solid white;
}
.button-toggle span .fa-xmark{
    background-color: green;
    padding: 0.1rem 1rem;
    border-radius: 0.3rem;
    border: 0.1rem solid white;
}
.button-toggle span .fa-trash:hover{
    transition: .2s ease;
    background-color: white;
    color: red;
    border: 0.1rem solid red;
}
.button-toggle span .fa-xmark:hover{
    transition: .2s ease;
    background-color: white;
    color: green;
    border: 0.1rem solid green;
}

@media screen and (max-width:768px) {
    .cart-item{
        width: 30rem;
        padding: 1rem;
    }
    .order-price-div h3{
        font-size: 1.2rem;
    }
    .order-price-div button{
        font-size: 1rem;
    }    
}
@media screen and (max-width:535px){
    .cart-item{
        width: 20rem;
    } 
    .cart-item img{
        width: 3rem;
    }  
    .product-info h4{
        font-size: 1rem;
    }
    .product-info h3{
        font-size: 1.2rem;
    }
    .order-price-div h3{
        font-size: 1rem;
    }
    .order-price-div button{
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }  
}
@media screen and (max-width:375px) {
    .cart-item{
        width: 15rem;
    } 
    .cart-item img{
        width: 3rem;
    }  
    .product-info h4{
        font-size: 0.8rem;
    }
    .product-info h3{
        font-size: 0.8rem;
    }
    .product-info button{
        padding: 0.2rem 0.8rem;
        font-size: 0.8rem;
    }
    .quanity-div button i{
        font-size: 1rem;
    }
    .quanity-div span{
        font-size: 1rem;
    }
    .order-price-div button{
        margin-top: 2rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
    }
    .button-toggle span .fa-trash{
        padding: 0.1rem 0.5rem;
    }
    .button-toggle span .fa-xmark{
        padding: 0.1rem 0.5rem;
    }
}