.empty-cart-div{
    margin-top: 5rem;
}
.browse-product{
    text-align: center;
    margin-top: 2rem;
}
.browse-product button{
    border: none;
    background-color: orangered;
    color: white;
    font-size: 1.2rem;
    padding: 0.7rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 0.1rem solid white;
}
.browse-product button:hover{
    transition: .2s ease;
    background-color: white;
    color: orangered;
    border: 0.1rem solid orangered;
}
@media screen and (max-width:535px) {
    .empty-cart-div h1{
        font-size: 2rem;
    }
    .browse-product button{
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
    }
}
@media screen and (max-width:450px) {
    .empty-cart-div h1{
        font-size: 1.5rem;
    }
    .browse-product button{
        font-size: 1rem;
        padding: 0.3rem 1rem;
    }
}