nav{
    height: 8vh;
    background-color:#00356B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    margin-left: 3rem;
}
.nav-menu{
    margin-right: 3rem;
}
.nav-logo img{
    width: 13rem;
}
.nav-menu ul{
    list-style: none;
    color: white;
    display: flex;
}
.nav-menu ul li{
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1rem;
}
.nav-menu ul li:hover{
    color:orange;
    transition: .2s ease-in;
    text-decoration: underline;
}
.nav-menu ul li .fa-cart-plus{
    font-size: 1.5rem;
}
.add-to-cart{
    position: relative;
}
.add-to-cart span{
    background-color:orangered;
    padding: 0.1rem 0.6rem;
    border-radius: 50%;
    position: absolute;
    left:2.7rem;
    top: 0.2rem;
}
a{
    color: inherit;
    text-decoration: none;
}
.active{
    text-decoration: underline;
}

@media screen and (max-width:768px) {
    .nav-logo img{
        width: 10rem;
    }   
}
@media screen and (max-width:580px) {
    .home-link{
        display: none;
    }
}
@media screen and (max-width:450px) {
    .nav-logo{
        margin-left: 1rem;
    }
    .nav-menu{
        margin-right: 1rem;
    }
    .nav-logo img{
        width: 8rem;
    }
    .nav-menu ul li{
        font-size: 0.9rem;
    } 
    .add-to-cart span{
        padding: 0.1rem 0.5rem;
        left:2.7rem;
        top: 0.6rem;
    }
    .nav-logo img{
        width: 7rem;
    } 
}