*{
    padding: 0;
    margin: 0;
}
.form-container{
    width: 30rem;
    margin: 1rem auto;
    padding: 3rem 2rem;
    border: 0.1rem solid #00356B;
    border-radius: 0.5rem;
}
form legend{
    text-align: center;
    font-size: 2rem;
    color: #00356B;
    margin-bottom: 3rem;
}
.form-field{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-field select{
    width: 55%;
}
.form-field textarea{
    width: 51%;
    resize: vertical;
}
.input{
    font-size: 1.2rem;
    padding: 0.4rem;
    border-radius: 0.3rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.4);
}
.label{
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.8);
}
.btn-container{
    text-align: center;
    margin-top: 1rem;
}
.btn-container button{
    font-size: 1.3rem;
    padding: 1rem 3rem;
    background-color: #00356B;
    color: white;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
    border: 0.1rem solid white;
}
.btn-container button:hover{
    transition: .3s ease-in;
    background-color: white;
    color:  #00356B;
    border: 0.1rem solid #00356B;
}
.error{
    color: red;
}
.message{
    text-align: center;
    color: green;
    margin-bottom: 1rem;
    background-color: rgba(0, 128, 0, 0.29);
    padding: 0.5rem 0;
}
.message p{
    font-size: 1.5rem;
}
@media screen and (max-width:576px) {
    .form-container{
        width: 85vw;
    }
    .form-field select{
        width: 47.5vw;
    }
    .input{
        width: 45vw;
    } 
    .btn-container button{
        font-size: 1rem;
        padding: 1rem 3rem;
    }  
}
@media screen and (max-width:450px) {
    .form-container{
        padding: 2rem 1rem;
    }
    .form-field select{
        width: 48.5vw;
    }
    .btn-container button{
        padding: 0.8rem 2.5rem;
    }
    form legend{
        font-size: 1.5rem;
    }
    .label{
        font-size: 1.2rem;
    }  
    .input{
        font-size: 1rem;
        padding: 0.2rem;
    }
    .form-field select{
        width: 55.5%;
    }
    .form-field textarea{
        width: 53%;
    }
}